# Ignore build output folders
bin/ 
obj/ 

# .Net Core 
project.lock.json
project.fragment.lock.json
artifacts/ 


# DB 
app.db

#Rider 
.idea/ 
*.sln.iml 

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates
*.DotSettings.user

# Logs 
*.log 
